<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">check circle</i>Version Control</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/version_control' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">build</i>Design</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/design' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">fullscreen</i>Arrays & Hashes</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/arrays_hashes' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">exposure plus one</i>Enumerable Methods</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/enumerable_methods' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">code</i>Ruby Classes</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/ruby_classes' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">keyboard</i>Classes vs. Modules</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/classes_vs_modules' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">computer</i>Ruby vs. JavaScript</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/ruby_vs_javascript' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color:#1A6767"><i class="material-icons">settings</i>What is Rails?</div>
      <div class="collapsible-body" style="background-color:white">
        <%= render 'tech_posts/rails' %>
      </div>
    </li>
  </ul>
</div>